


.SearchBar{
  margin-left: -100px;
  margin-right: 450px;
  
}

.signup{
  margin-inline-end: 30px;;
}

.Netflixlogo{
  margin-left: 0px;
  margin-right: 80px;
  font-style: italic;
  font-size: 30px;
}
.Categorylogo{
  margin-left: 10px;
}


.card{
  display: inline-block;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 2px;
  justify-content: flex-start;
}